<div class="col-md-12">
  <h1>Players</h1>
</div>

<div class="col-md-3">
  <h2>Select and Submit</h2>

  <form method="get" action="/api/submitCode" enctype="multipart/form-data">
    <div class="form-group">
      <label for="file">Problem Number</label>
      <select class="form-control" id="problemNum" name="problemNum">
        <option>Please select a problem...</option>
      </select>
    </div>

    <div class="form-group">
      <label for="file">Language</label>
      <select class="form-control" id="language" name="language">
        <option>Please select a language...</option>
      </select>
    </div>

    <div class="form-group">
      <label for="file">Upload File</label>
      <input type="file" name="file" id="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div class="col-md-9">
  <h2>Question Description</h2>

  <div id="question_holder">
    <pre>Select a question on the left.</pre>
  </div>
</div>

<script type="text/javascript">
$(function() {
  // Parse out the JSON.
  var j = $.parseJSON({{.}});

  // Set up the select as well as the question div.
  $.each(j["questions"], function(i, item) {
    $("#problemNum").append("<option value='" + i + "'>" + item["name"] + "</option>");
    $("#question_holder").append("<pre id='" + i + "' style='display: none;'>" + item["question"] + "</pre>");
  })

  // Set up the select as well as the question div.
  $.each(j["languages"], function(i, item) {
    $("#language").append("<option value='" + i + "'>" + item["name"] + "</option>");
  })

  // Bind to the select on change.
  $("#question").on("change", function(evt) {
    var q = $("#question option:selected").attr("value");

    // Hide everything in the holder.
    $("#question_holder").children().hide();

    // Show the question we want.
    $("#question_holder #" + q).show();
  });
})
</script>

